
<!-- <div class="navigation-brand">
    <a href="index.html">
        <img class="brand-logo" src="https://ooftermi.sirv.com/onepersonaprojects/1Persona%20Logo%201.png" alt="ourfuturetalentmanagement">
    </a>
</div> -->

<nav class="navbar sticky-top navbar-expand-md" style="background: transparent;">
    <div class="container-fluid">
        <button id="menu-bar" class="navbar-toggler collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#our-future-menu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <img class="menu-icon" src="../../assets/images/menu-icon.png">
        </button>
        <div class="content navbar-collapse" id="our-future-menu">
            <div class="navbar-nav ml-auto">
                <a class="nav-link navigation-links active-page " aria-current="page" href="index.html">Home</a>
                <a class="nav-link navigation-links" href="#">About</a>
                <a class="nav-link navigation-links" href="#">Services</a>
                <a class="nav-link navigation-links" href="#">Contact Us</a>
            </div>
        </div>
    </div>
</nav>
